<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo ROS 2 Control Plugin -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so"/>
    </gazebo>

    <!-- Reaction Wheel X -->
    <gazebo>
        <plugin name="rw_x_controller" filename="libgazebo_ros2_control.so">
            <joint>rw_x_joint</joint>
        </plugin>
    </gazebo>

    <!-- Reaction Wheel Y -->
    <gazebo>
        <plugin name="rw_y_controller" filename="libgazebo_ros2_control.so">
            <joint>rw_y_joint</joint>
        </plugin>
    </gazebo>

    <!-- Reaction Wheel Z -->
    <gazebo>
        <plugin name="rw_z_controller" filename="libgazebo_ros2_control.so">
            <joint>rw_z_joint</joint>
        </plugin>
    </gazebo>

    <!-- Transmission Setup -->
    <transmission name="rw_x_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rw_x_joint">
            <hardwareInterface>effort_controllers/JointEffortController</hardwareInterface>
        </joint>
        <actuator name="rw_x_motor">
            <hardwareInterface>effort_controllers/JointEffortController</hardwareInterface>
        </actuator>
    </transmission>

    <transmission name="rw_y_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rw_y_joint">
            <hardwareInterface>effort_controllers/JointEffortController</hardwareInterface>
        </joint>
        <actuator name="rw_y_motor">
            <hardwareInterface>effort_controllers/JointEffortController</hardwareInterface>
        </actuator>
    </transmission>

    <transmission name="rw_z_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rw_z_joint">
            <hardwareInterface>effort_controllers/JointEffortController</hardwareInterface>
        </joint>
        <actuator name="rw_z_motor">
            <hardwareInterface>effort_controllers/JointEffortController</hardwareInterface>
        </actuator>
    </transmission>

</robot>
